html {
  background-color: #e7cfcd;
  background-image: url(../images/pattern.svg);
  background-repeat: repeat;
  background-size: 20%;

  height: 100%;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Merriweather", serif;
  line-height: 1.8;
}

.elevated-text {
  text-decoration: underline;
}

.social-icons {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.coffee-bean {
  width: 5em;
}

.social-icons:hover {
  -webkit-transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.body-text {
  background-color: #fff;
  padding: 2em;
  margin: 2em;
}

/* Tablet */
@media only screen and (min-width: 38em) {

  html {
    background-size: 10%;
  }

}

@media only screen and (min-width: 60em) {

  .body-text {
    background-color: #fff;
    padding: 6em;
    margin: 6em;
  }

  .social-icons {
    width: 60px;
    height: 60px;
    margin-right: .5em;
  }

}

/* Desktop */
@media only screen and (min-width: 90em) {

  html {
    background-size: 8%;
  }

}
