html {
  background-color: #e7cfcd;
  background-image: url(../images/pattern.svg);
  background-repeat: repeat;
  background-size: 8%;
}

h1, h2, h3, h4 {
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Merriweather", serif;
}

.elevated-text {
  /* border-bottom: 8px #000 solid; */
  text-decoration: underline;
}

.social-icons {
  width: 60px;
  height: 60px;
  margin-right: 2em;
}

.social-icons:hover {
  background-color: #9f9aa4;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.body-text {
  background-color: #fff;
  padding: 6em;
  margin: 6em;
}
